.modal-header
{
    display: flex;
    flex-direction: row-reverse;
}

.form-group label{
    margin-top: 5px;
}
.note-editor .btn-group{
    display: inline-block;
}
/*==================input fields==========*/
.rounded_input
{
    border-radius: 20px;
}
.focused_input
{
    border-color: #62a8ea;;
}
.input_top_align
{
    margin-top: 20px;
}

.chosen-container-single .chosen-single
{
    height: 32px;
    line-height: 30px;
}
.file_input .input-group-btn
{
    display: inline;
}

.file_input .input-group .form-control:not(:last-child), .file_input .input-group-addon:not(:last-child), .file_input .input-group-btn:not(:last-child) > .btn, .file_input .input-group-btn:not(:last-child) > .btn-group > .btn, .file_input .input-group-btn:not(:last-child) > .file_input dropdown-toggle, .file_input .input-group-btn:not(:first-child) > .btn:not(:last-child):not(.dropdown-toggle), .file_input .input-group-btn:not(:first-child) > .btn-group:not(:last-child) > .btn
{
    height: 33px !important;
}

.chosen-container-single .chosen-single div {
    top:6px;
}
.chosen-container-multi .chosen-choices {
    padding: 3px 6px;
    border-radius:5px;
}
.deselect_close .search-choice-close{
    margin-top: 5px;
}
.chosen-container-single .chosen-single abbr{
    top:12px;
}
.check_align .input-group .form-control{
    margin-bottom: -13px;
}
.check_align .input-group .col-form-label{
    margin-right: -6px;
}
.cus_control_indicator{
    margin:-7px 0 0 1px !important;
}
.input_field_sections #tags_tagsinput{
    width: 100% !important;
}
.input_text_fields div.tagsinput span.tag{
    background: #0fb0c0 !important;
    border: 1px solid #0fb0c0 !important;
}
.input_text_fields div.tagsinput span.tag a,.input_text_fields div.tagsinput span.tag{
    color: #fff;
}

.form_input_fields {
    padding: 0 30px;
}
.forms .form-group{
    margin-bottom: 0;
}
.chosen-container{
    width: 100% !important;
}
#multiple_close .search-choice-close{
    display: none !important;
}
.file-zoom-fullscreen .modal-dialog
{
    min-width: 100% !important;
}
.fileinput-upload-button
{
    background-color: #ccc !important;
}
.button_file .fileinput-remove-button, .button_file .fileinput-upload-button
{
    margin-bottom: 5px;
}
/*======================Form Editors=======================*/
.summernote_editor .cke_chrome {
    visibility: hidden !important;
    display: none !important;
}
.panel-heading.note-toolbar {
    border-bottom: 1px solid #ccc;
    background: #fff;
}
.summernote_editor .cke_toolbox {
    display: none !important;
    visibility: hidden !important;
}
.form_editors_textarea_wysihtml{
    width: 100%;
    height: 200px;
    font-size: 14px;
    line-height: 18px;
    border: 1px solid #dddddd;
    padding: 10px;
}
.note-popover{
    display: none;
}
.note-btn-group .note-check li{
    margin-left: -10px;
}
.note-style li {
    padding-left: 10px;
}
.wysihtml5-toolbar .dropdown.open .dropdown-menu li{
    padding-left: 10px;
}
.summernote_editor .cke_chrome
{
    visibility:hidden !important;
    display: none !important;
}
[data-original-title="Font Family"]{
    width:115px;
    font-size:12px;
}
.dropdown-menu.note-check.dropdown-fontname{
    min-width:130px;
}
.note-editor.note-frame.fullscreen{
    z-index: 10500 !important;
}
.summer_note_btn .btn-default {
    background-color: #fff;
    color: #282828;
}
.tinymce_full #mceu_21{
    z-index: 1020;
}
div.mce-fullscreen{
    top:-1px !important;
    bottom:0 !important;
}
.summer_note_btn .btn-default:hover {
    background-color: #e6e6e6;
    border-color: #00c0ef;
    color: #282828;
}

.kv-upload-progress>.progress, .fileinput-cancel-button
{
    display: none;
}
.summer_note .btn-group,.wysihtml5-toolbar .btn-group,.note-color .btn-group{
    display: inline-block;
}
.note-editable ul li img{
    width: 100% !important;
}
.summer_note_display .wysihtml5-toolbar .dropdown-menu{
    padding-left: 10px;
}
.wysihtml5-toolbar .btn-outline-primary {
    color: #5a5a5a !important;
}
.wysihtml5-toolbar .btn-outline-primary:hover,.wysihtml5-toolbar .btn-secondary:hover{
    background-color: transparent;
}
@media (max-width:992px)
{
    .hidden-xs
    {
        display:none !important;
    }
    .file-preview-image, .file-preview-text
    {
        width: 100% !important;
    }
}

.button_file .btn-file
{
    width: 100%;
}
.note-popover .popover-content .note-para .dropdown-menu, .panel-heading.note-toolbar .note-para .dropdown-menu{
    min-width:185px !important
}
@media (max-width: 346px) {
    .note-popover .popover-content .note-color .dropdown-menu, .panel-heading.note-toolbar .note-color .dropdown-menu {
        min-width: 165px;
    }
    .wysihtml5-toolbar li:nth-child(2) a{
        margin-top: 15px;
    }
}
@media (min-width: 347px) and (max-width: 475px) {
    .note-popover .popover-content .note-color .dropdown-menu, .panel-heading.note-toolbar .note-color .dropdown-menu {
        min-width: 165px;
        margin-left: -100px;
    }
}
@media (min-width: 525px) and (max-width: 890px) {
    .note-popover .popover-content .note-color .dropdown-menu, .panel-heading.note-toolbar .note-color .dropdown-menu {
        min-width: 240px;
    }
}
@media (min-width: 440px) and (max-width: 860px) {
    .note-popover .popover-content .note-para .dropdown-menu, .panel-heading.note-toolbar .note-para .dropdown-menu {
        left: -90px;
    }
}