@charset "utf-8";
/* CSS Document */
.web-mail ul li {
	list-style: none;
}
.inbox_contact_img{
	width:27px;
	height:27px
}
.web-mail ul {
	margin: 0 !important;
	width: 100%;
}
.web-mail ul li a {
	text-decoration: none;
	font-size: 13px;
	padding: 6px;
	color: #333;
	display: block;
}
input[type=checkbox] {
	padding: 0;
	opacity: 1 !important;
}
.list-group li {
	border-right: 0;
	border-left: 0;
}
.list-group li a {
	display: block;
	width: 100%;
}
.list-group li span {
	float: right;
}
.status-online {
	width:8px;
	height:8px;
	border-radius: 5px;
	background-color: #22b24c;
}
.status-away {
	width:8px;
	height:8px;
	float: left;
	border-radius: 5px;
	background-color: #f39c12;
}
.status-busy {
	width:8px;
	height:8px;
	float: left;
	border-radius: 5px;
	background-color: #e6593c;
}
.table-bordered {
	padding:5px;
}
.table-bordereds {
	padding:5px 8px 5px 8px;
}
.table-bordered,.table-bordereds {
	background-color: #e6e6e6;
	border:1px solid #ccc;
}

.list-group-item {
	position: relative;
	display: block;
	padding: 5px;
	background-color: #fff;
	border:1px solid #ddd;
}
.dropdown_list_hover .btn-group  {
	margin:0 5px 0 0;
}
.status_height {line-height: 30px;
}

.mail_inbox_text_col{
	color: #fff !important;
}
.mail .table-bordered{
	padding: 11px;
}
.mail table td .custom-control-indicator{
	margin-top: -5px;
}
/*============common css===================*/
.custom-control-indicator{
	pointer-events: all !important;
}
.fa-star:hover{
	cursor:pointer;
}
.mail table td .fa-star {
	color: #ddd;
	font-size: 14px;
}
.mail table td {
	border-top: none;
	border-bottom: 1px solid #efefef;
	padding: 17px 5px 0 5px  !important;
}

.tabs .nav-tabs {
	border: 1px solid #efefef;
}

.tabs.tabs-bordered .nav-tabs li {
	border-right: 1px solid #efefef;
}

.tabs .tab-pane {
	border: 1px solid #efefef;
	border-top: none;
	padding: 15px;
}
.m-l-20{
	margin-left: 21px !important;
}
.reset.padding-all {
	padding: 0 !important;
}

.mail table {
	margin-bottom: 0;
}
.mail .checker {
	margin-top: 5px;
}
.inbox_search_height{
	height: 37px;
}
.mail_tr_background{
	background-color: #ffc;
}
.mail table tr.mail-unread td {
	font-weight: 600
}

.tabs .nav-tabs li a {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	margin-right: 0;
	color: #333;
	padding: 10px 20px;
}

.tabs .nav-tabs li.active a, .tabs .nav-tabs li.active a:hover {
	border: 1px solid transparent;
	border-bottom: 2px solid #0fb0c0;
	color: #fff;
	font-weight: 700;
}
.tabs .nav-tabs li a:hover {
	background-color: #0fb0c0;
	border: 1px solid transparent;
	color: #fff;
}
.mail .nav-tabs .nav-item{
	width: 25% ;
}
@media (max-width: 539px) {
	.mail .nav-tabs .nav-item{
		width: 32% ;
	}
}
.tabs .nav-tabs li a {
	border: 1px solid transparent;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-link.active:focus, .nav-tabs .nav-link.active:hover, .nav-tabs .nav-item.open .nav-link, .nav-tabs .nav-item.open .nav-link:focus, .nav-tabs .nav-item.open .nav-link:hover {
	color: #fff !important;
	background-color: #e9e9e9;
	border-color: #ddd #ddd transparent;
}

.mail .nav-item.active, .mail .nav-link.active {
	background-color: #0fb0c0 !important;
	font-weight: 700;
}
#refresh,#more_items,table tr td:hover{
	cursor: pointer;
}
.mail_ul_active ul li{
	border-bottom-right-radius: 0!important;
	border-bottom-left-radius: 0 !important;
}
.contact_scroll li{
	border-top-right-radius: 0!important;
	border-top-left-radius: 0 !important;
}
.dropdown-menu li span{
	margin: 20px 10px;
	cursor: pointer;
}
/*===============Mail Inbox========================*/
#social2 .nav-link{
	margin-left: -2px;
}
#promotions2 .nav-link{
	margin-left: -2px;
}
/*==================Mail Compose======================*/
.mail_compose .wysihtml5-toolbar{
	padding-top: 15px !important;
}
.mail_compose .wysihtml5-toolbar li:nth-child(4) a{
	padding: 7px;
}
.modal-header {
	display: flex;
	flex-direction: row-reverse;
}
/*=================Mail View================================*/
.view_admin_img{
	width: 100%;
}
.mail_compose .card-header p{
	font-size: 14px !important;
}
@media (min-width: 768px){
	/*.mail_compose_list ul li:hover,.dropdown_list_hover ul li:hover {*/
	/*background-color: #ffc;*/
	/*}*/
	.mail table tr:hover {
		background-color: #ffc !important;
	}
}
@media (max-width:340px) {
	#view_reply3{
		margin-top: 15px;
	}
}